{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "This is the API documentation for the Paradigm: Reboot Prober service.",
        "title": "Paradigm: Reboot Prober API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2"
    },
    "host": "api.prp.icel.site",
    "basePath": "/api/v2",
    "paths": {
        "/records/{username}": {
            "get": {
                "description": "Retrieve play records for a user based on scope (b50, best, all, all-charts)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "record"
                ],
                "summary": "Get play records",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "b50",
                        "description": "Scope (b50, best, all, all-charts)",
                        "name": "scope",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Underflow for b50",
                        "name": "underflow",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Page size",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "Page index",
                        "name": "page_index",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "rating",
                        "description": "Sort by (rating, score, record_time, etc.)",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "desc",
                        "description": "Order (desc or asc)",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Minimum chart level (inclusive)",
                        "name": "min_level",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Maximum chart level (inclusive)",
                        "name": "max_level",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by difficulty (detected, invaded, massive, reboot)",
                        "name": "difficulty",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "all-charts scope",
                        "schema": {
                            "$ref": "#/definitions/model.AllChartsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            },
            "post": {
                "description": "Batch upload play records for a user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "record"
                ],
                "summary": "Upload play records",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Play records upload info",
                        "name": "record",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BatchCreatePlayRecordRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.PlayRecord"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/records/{username}/chart/{chart_addr}": {
            "get": {
                "description": "Retrieve play records for a user scoped to a specific chart. chart_addr can be numeric chart_id or wiki_id:difficulty (e.g. felys:massive).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "record"
                ],
                "summary": "Get play records for a specific chart",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chart address (numeric chart_id or wiki_id:difficulty)",
                        "name": "chart_addr",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "best",
                        "description": "Scope (best, all)",
                        "name": "scope",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Page size (scope=all only)",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "Page index (scope=all only)",
                        "name": "page_index",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "rating",
                        "description": "Sort by (rating, score, record_time)",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "desc",
                        "description": "Order (desc or asc)",
                        "name": "order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.PlayRecordResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/records/{username}/song/{song_addr}": {
            "get": {
                "description": "Retrieve play records for a user scoped to a specific song. song_addr can be numeric song_id or wiki_id.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "record"
                ],
                "summary": "Get play records for a specific song",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Song address (numeric song_id or wiki_id)",
                        "name": "song_addr",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "best",
                        "description": "Scope (best, all)",
                        "name": "scope",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Page size (scope=all only)",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "Page index (scope=all only)",
                        "name": "page_index",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "rating",
                        "description": "Sort by (rating, score, record_time)",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "desc",
                        "description": "Order (desc or asc)",
                        "name": "order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.PlayRecordResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/songs": {
            "get": {
                "description": "Retrieve a list of all charts with their details",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "song"
                ],
                "summary": "Get all charts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.ChartInfo"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Update song details and its charts (Admin only)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "song"
                ],
                "summary": "Update an existing song",
                "parameters": [
                    {
                        "description": "Song update info",
                        "name": "song",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateSongRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.ChartInfo"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/songs/{song_id}": {
            "get": {
                "description": "Retrieve detailed information about a single song by ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "song"
                ],
                "summary": "Get single song info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Song ID",
                        "name": "song_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "prp",
                        "description": "Source (prp or wiki)",
                        "name": "src",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Song"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "description": "Authenticate user and return access and refresh JWT tokens",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Login user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username",
                        "name": "username",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Token"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/me": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get the profile of the currently authenticated user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Get current user info",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.User"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Update the profile of the currently authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Update current user info",
                "parameters": [
                    {
                        "description": "User update info",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.User"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/me/password": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Change the current user's password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Change password",
                "parameters": [
                    {
                        "description": "Password change info",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.ChangePasswordRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/me/upload-token": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Generate a new upload token for the current user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Refresh upload token",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.UploadToken"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/refresh": {
            "post": {
                "description": "Exchange a valid refresh token for a new access/refresh token pair",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Refresh access token",
                "parameters": [
                    {
                        "description": "Refresh token",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.RefreshTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Token"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "description": "Create a new user account",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Register a new user",
                "parameters": [
                    {
                        "description": "User registration info",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.CreateUserRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/model.UserPublic"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        },
        "/user/reset-password": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Reset a user's password by admin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Reset user password (Admin only)",
                "parameters": [
                    {
                        "description": "Password reset info",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.ResetPasswordRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/model.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.AllChartsResponse": {
            "type": "object",
            "properties": {
                "charts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.ChartWithScore"
                    }
                },
                "nickname": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "model.Chart": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "difficulty": {
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.Difficulty"
                        }
                    ],
                    "example": "massive"
                },
                "fitting_level": {
                    "type": "number"
                },
                "id": {
                    "type": "integer"
                },
                "level": {
                    "type": "number"
                },
                "level_design": {
                    "type": "string"
                },
                "notes": {
                    "type": "integer"
                },
                "override_artist": {
                    "type": "string",
                    "example": "Alt Artist"
                },
                "override_cover": {
                    "type": "string",
                    "example": "Cover_alt.jpg"
                },
                "override_title": {
                    "type": "string",
                    "example": "Alt Title"
                },
                "override_version": {
                    "type": "string",
                    "example": "2.0.0"
                },
                "song": {
                    "$ref": "#/definitions/model.Song"
                },
                "song_id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "model.ChartInfo": {
            "type": "object",
            "required": [
                "artist",
                "title",
                "wiki_id"
            ],
            "properties": {
                "album": {
                    "type": "string",
                    "example": "First Album"
                },
                "artist": {
                    "type": "string",
                    "example": "Artist Name"
                },
                "b15": {
                    "type": "boolean",
                    "example": false
                },
                "bpm": {
                    "type": "string",
                    "example": "180"
                },
                "cover": {
                    "type": "string",
                    "example": "Cover_d3d3d3.jpg"
                },
                "difficulty": {
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.Difficulty"
                        }
                    ],
                    "example": "massive"
                },
                "fitting_level": {
                    "type": "number",
                    "example": 13.4
                },
                "genre": {
                    "type": "string",
                    "example": "Pop"
                },
                "id": {
                    "type": "integer",
                    "example": 10
                },
                "illustrator": {
                    "type": "string",
                    "example": "Artist"
                },
                "length": {
                    "type": "string",
                    "example": "2:30"
                },
                "level": {
                    "type": "number",
                    "example": 13.2
                },
                "level_design": {
                    "type": "string",
                    "example": "Designer"
                },
                "notes": {
                    "type": "integer",
                    "example": 850
                },
                "song_id": {
                    "type": "integer",
                    "example": 1
                },
                "title": {
                    "type": "string",
                    "example": "Song Title"
                },
                "version": {
                    "type": "string",
                    "example": "1.0.0"
                },
                "wiki_id": {
                    "type": "string",
                    "example": "w123"
                }
            }
        },
        "model.ChartInfoSimple": {
            "type": "object",
            "properties": {
                "b15": {
                    "type": "boolean"
                },
                "cover": {
                    "type": "string"
                },
                "difficulty": {
                    "$ref": "#/definitions/model.Difficulty"
                },
                "fitting_level": {
                    "type": "number"
                },
                "id": {
                    "type": "integer"
                },
                "level": {
                    "type": "number"
                },
                "song_id": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                },
                "wiki_id": {
                    "type": "string"
                }
            }
        },
        "model.ChartInput": {
            "type": "object",
            "required": [
                "difficulty",
                "level",
                "notes"
            ],
            "properties": {
                "difficulty": {
                    "enum": [
                        "detected",
                        "invaded",
                        "massive",
                        "reboot"
                    ],
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.Difficulty"
                        }
                    ],
                    "example": "massive"
                },
                "level": {
                    "type": "number",
                    "example": 14.5
                },
                "level_design": {
                    "type": "string",
                    "example": "Designer"
                },
                "notes": {
                    "type": "integer",
                    "minimum": 0,
                    "example": 1000
                },
                "override_artist": {
                    "type": "string",
                    "example": "Alt Artist"
                },
                "override_cover": {
                    "type": "string",
                    "example": "Cover_alt.jpg"
                },
                "override_title": {
                    "type": "string",
                    "example": "Alt Title"
                },
                "override_version": {
                    "type": "string",
                    "example": "2.0.0"
                }
            }
        },
        "model.ChartWithScore": {
            "type": "object",
            "properties": {
                "difficulty": {
                    "$ref": "#/definitions/model.Difficulty"
                },
                "id": {
                    "type": "integer"
                },
                "level": {
                    "type": "number"
                },
                "score": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "model.Difficulty": {
            "type": "string",
            "enum": [
                "detected",
                "invaded",
                "massive",
                "reboot"
            ],
            "x-enum-varnames": [
                "DifficultyDetected",
                "DifficultyInvaded",
                "DifficultyMassive",
                "DifficultyReboot"
            ]
        },
        "model.PlayRecord": {
            "type": "object",
            "required": [
                "chart_id",
                "score"
            ],
            "properties": {
                "chart": {
                    "$ref": "#/definitions/model.Chart"
                },
                "chart_id": {
                    "type": "integer",
                    "example": 1
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "rating": {
                    "type": "integer"
                },
                "record_time": {
                    "type": "string"
                },
                "score": {
                    "type": "integer",
                    "maximum": 1010000,
                    "minimum": 0,
                    "example": 1000000
                },
                "updated_at": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "model.PlayRecordBase": {
            "type": "object",
            "required": [
                "chart_id",
                "score"
            ],
            "properties": {
                "chart_id": {
                    "type": "integer",
                    "example": 1
                },
                "score": {
                    "type": "integer",
                    "maximum": 1010000,
                    "minimum": 0,
                    "example": 1000000
                }
            }
        },
        "model.PlayRecordInfo": {
            "type": "object",
            "properties": {
                "chart": {
                    "$ref": "#/definitions/model.ChartInfoSimple"
                },
                "id": {
                    "type": "integer"
                },
                "rating": {
                    "type": "integer"
                },
                "record_time": {
                    "type": "string"
                },
                "score": {
                    "type": "integer"
                }
            }
        },
        "model.PlayRecordResponse": {
            "type": "object",
            "properties": {
                "nickname": {
                    "type": "string"
                },
                "records": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.PlayRecordInfo"
                    }
                },
                "total": {
                    "type": "integer"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "model.Response": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "model.Song": {
            "type": "object",
            "required": [
                "artist",
                "title",
                "wiki_id"
            ],
            "properties": {
                "album": {
                    "type": "string",
                    "example": "First Album"
                },
                "artist": {
                    "type": "string",
                    "example": "Artist Name"
                },
                "b15": {
                    "type": "boolean",
                    "example": false
                },
                "bpm": {
                    "type": "string",
                    "example": "180"
                },
                "charts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Chart"
                    }
                },
                "cover": {
                    "type": "string",
                    "example": "Cover_d3d3d3.jpg"
                },
                "created_at": {
                    "type": "string"
                },
                "genre": {
                    "type": "string",
                    "example": "Pop"
                },
                "id": {
                    "type": "integer"
                },
                "illustrator": {
                    "type": "string",
                    "example": "Artist"
                },
                "length": {
                    "type": "string",
                    "example": "2:30"
                },
                "title": {
                    "type": "string",
                    "example": "Song Title"
                },
                "updated_at": {
                    "type": "string"
                },
                "version": {
                    "type": "string",
                    "example": "1.0.0"
                },
                "wiki_id": {
                    "type": "string",
                    "example": "w123"
                }
            }
        },
        "model.Token": {
            "type": "object",
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "refresh_token": {
                    "type": "string"
                },
                "token_type": {
                    "type": "string",
                    "example": "Bearer"
                }
            }
        },
        "model.UploadToken": {
            "type": "object",
            "properties": {
                "upload_token": {
                    "type": "string"
                }
            }
        },
        "model.User": {
            "type": "object",
            "required": [
                "email",
                "username"
            ],
            "properties": {
                "account": {
                    "type": "string",
                    "example": "act_001"
                },
                "account_number": {
                    "type": "integer",
                    "example": 1001
                },
                "anonymous_probe": {
                    "type": "boolean",
                    "example": false
                },
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                },
                "id": {
                    "type": "integer"
                },
                "is_active": {
                    "type": "boolean",
                    "example": true
                },
                "is_admin": {
                    "type": "boolean",
                    "example": false
                },
                "nickname": {
                    "type": "string",
                    "example": "小明"
                },
                "qq_account": {
                    "type": "string",
                    "example": "12345678"
                },
                "updated_at": {
                    "type": "string"
                },
                "upload_token": {
                    "type": "string",
                    "example": "token_xyz"
                },
                "username": {
                    "type": "string",
                    "example": "user123"
                },
                "uuid": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                }
            }
        },
        "model.UserPublic": {
            "type": "object",
            "properties": {
                "account": {
                    "type": "string",
                    "example": "act_001"
                },
                "account_number": {
                    "type": "integer",
                    "example": 1001
                },
                "anonymous_probe": {
                    "type": "boolean",
                    "example": false
                },
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                },
                "id": {
                    "type": "integer",
                    "example": 1
                },
                "nickname": {
                    "type": "string",
                    "example": "小明"
                },
                "qq_account": {
                    "type": "string",
                    "example": "12345678"
                },
                "username": {
                    "type": "string",
                    "example": "user123"
                },
                "uuid": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                }
            }
        },
        "request.BatchCreatePlayRecordRequest": {
            "type": "object",
            "required": [
                "play_records"
            ],
            "properties": {
                "is_replace": {
                    "type": "boolean"
                },
                "play_records": {
                    "type": "array",
                    "maxItems": 500,
                    "items": {
                        "$ref": "#/definitions/model.PlayRecordBase"
                    }
                },
                "upload_token": {
                    "type": "string"
                }
            }
        },
        "request.ChangePasswordRequest": {
            "type": "object",
            "required": [
                "new_password",
                "old_password"
            ],
            "properties": {
                "new_password": {
                    "type": "string",
                    "minLength": 6,
                    "example": "newpass456"
                },
                "old_password": {
                    "type": "string",
                    "example": "oldpass123"
                }
            }
        },
        "request.CreateSongRequest": {
            "type": "object",
            "required": [
                "artist",
                "charts",
                "title",
                "wiki_id"
            ],
            "properties": {
                "album": {
                    "type": "string",
                    "example": "First Album"
                },
                "artist": {
                    "type": "string",
                    "example": "Artist Name"
                },
                "b15": {
                    "type": "boolean",
                    "example": false
                },
                "bpm": {
                    "type": "string",
                    "example": "180"
                },
                "charts": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "$ref": "#/definitions/model.ChartInput"
                    }
                },
                "cover": {
                    "type": "string",
                    "example": "Cover_d3d3d3.jpg"
                },
                "genre": {
                    "type": "string",
                    "example": "Pop"
                },
                "illustrator": {
                    "type": "string",
                    "example": "Artist"
                },
                "length": {
                    "type": "string",
                    "example": "2:30"
                },
                "title": {
                    "type": "string",
                    "example": "Song Title"
                },
                "version": {
                    "type": "string",
                    "example": "1.0.0"
                },
                "wiki_id": {
                    "type": "string",
                    "example": "w123"
                }
            }
        },
        "request.CreateUserRequest": {
            "type": "object",
            "required": [
                "email",
                "password",
                "username"
            ],
            "properties": {
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                },
                "nickname": {
                    "type": "string",
                    "example": "小明"
                },
                "password": {
                    "type": "string",
                    "minLength": 6,
                    "example": "secret123"
                },
                "username": {
                    "type": "string",
                    "example": "user123"
                }
            }
        },
        "request.RefreshTokenRequest": {
            "type": "object",
            "required": [
                "refresh_token"
            ],
            "properties": {
                "refresh_token": {
                    "type": "string"
                }
            }
        },
        "request.ResetPasswordRequest": {
            "type": "object",
            "required": [
                "new_password",
                "username"
            ],
            "properties": {
                "new_password": {
                    "type": "string",
                    "minLength": 6,
                    "example": "newpass456"
                },
                "username": {
                    "type": "string",
                    "example": "targetuser"
                }
            }
        },
        "request.UpdateSongRequest": {
            "type": "object",
            "required": [
                "artist",
                "charts",
                "id",
                "title",
                "wiki_id"
            ],
            "properties": {
                "album": {
                    "type": "string",
                    "example": "First Album"
                },
                "artist": {
                    "type": "string",
                    "example": "Artist Name"
                },
                "b15": {
                    "type": "boolean",
                    "example": false
                },
                "bpm": {
                    "type": "string",
                    "example": "180"
                },
                "charts": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "$ref": "#/definitions/model.ChartInput"
                    }
                },
                "cover": {
                    "type": "string",
                    "example": "Cover_d3d3d3.jpg"
                },
                "genre": {
                    "type": "string",
                    "example": "Pop"
                },
                "id": {
                    "type": "integer"
                },
                "illustrator": {
                    "type": "string",
                    "example": "Artist"
                },
                "length": {
                    "type": "string",
                    "example": "2:30"
                },
                "title": {
                    "type": "string",
                    "example": "Song Title"
                },
                "version": {
                    "type": "string",
                    "example": "1.0.0"
                },
                "wiki_id": {
                    "type": "string",
                    "example": "w123"
                }
            }
        },
        "request.UpdateUserRequest": {
            "type": "object",
            "properties": {
                "account": {
                    "type": "string"
                },
                "account_number": {
                    "type": "integer",
                    "minimum": 0
                },
                "anonymous_probe": {
                    "type": "boolean"
                },
                "nickname": {
                    "type": "string",
                    "minLength": 0
                },
                "qq_account": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                }
            }
        }
    }
}